* {
    padding: 0px;
    margin: 0px;

}

body {
    font-family: 'Merriweather', serif;
    background-color: #f9fafc;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
}

.navbar__brand {
    width: 100px;

}

.navbar__logo {
    width: 100%;


}

.nav__item {
    background-image: linear-gradient(to right,
            #ff512f 0%,
            #dd2476 50%,
            #ff512f 100%);
    color: #fff;
    border: none;
    padding: 12px;
    border-radius: 6px;
    font-weight: 600;

}
.nav__item:hover {
 border: 2px solid #ff6767;
 cursor: pointer;



}


@media (min-width: 768px) {
    .navbar {
        justify-content: space-around;
        padding: 10px 30px;
    }
}

@media (min-width:1024px) {
    .navbar__brand {
        width: 150px;
    }

    .nav__item {
        padding: 20px;
        font-size: 20px;


    }
}